<p id="notice"></p>
  <div class="container">
   <div class="row">
    <div class ="mx-auto">
     <div>
      <table class='table'>
        <thead>
          <tr>
            <th>クーポン詳細</th>
            <th>
              <% #if文はログインユーザーのみいいね、取り消しできるようにする couponモデル参照 %>
              <% if @coupon.nice_couponed_by?(current_user) %>
               <%= link_to "いいねを取り消す", coupon_nice_coupons_path(@coupon), method: :delete %>
              <% else %>
               <%= link_to "❤︎いいね",coupon_nice_coupons_path(@coupon), method: :post %>
              <% end %>
            </th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= "使えるお店" %>
            </td>
            <td>
              <%= @coupon.shop %>
            </td>
          </tr>
          <tr>
           <td>クーポン名</td>
           <td><%= @coupon.coupon_name %></td>
          </tr>
          <tr>
            <td>使用期限</td>
            <td>
              <%= @coupon.from_day %>から<br>
              <%= @coupon.to_day %>まで
            </td>
          </tr>
        </tbody>
      </table>
      <table class='table'>
        <thead>
          <tr>
            <th>内容</th>
            <th colspan="1"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
           <td><%= safe_join(@coupon.content.split("\n"),tag(:br)) %></td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>
  </div>