<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class ="mx-auto">
    <h3>
      <%= @user.name %>さんのマイページ
    </h3>
      <table class='table table-hover table-inverse'>
       <% if @user == current_user %>
        <thead>
          <tr>
            <th><%= link_to "新規投稿", "/places/new" %></th>
            <th><%= link_to "会員情報編集", edit_user_path(@user.id) %></th>
            <th><%= link_to "参加した待ち合わせ一覧", "/join_places" %></th>
            <th><%= link_to "❤︎いいねしたクーポン一覧", "/nice_coupons" %></th>
            <th colspan="4"></th>
          </tr>
        </thead>
       <% end %>

        <thead>
          <tr>
            <th>投稿者</th>
            <th>件名</th>
            <th>参加人数</th>
            <th>コメント数</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <% @places.each do |place| %>
          <tr>
            <td>
              <%= link_to user_path(place.user.id) do %>
               <%= place.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to place_path(place.id) do %>
                <%= place.subject %>
              <% end %>
            </td>
            <td>
              <%= "#{place.join_places.count}人" %>
            </td>
            <td>
              <%= "#{place.place_comments.count} コメント" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
  </div>
 </div>
</div>

