<h3>待ち合わせ編集</h3>

  <%= form_with model: @place do |f| %>
    <h4>件名</h4>
     <%= f.text_field :subject %>
    <h4>本文</h4>
     <%= f.text_area :body, size: "80x10" %>
    <h4>待ち合わせ場所</h4>
     <%= f.text_field :address %>

    <h4>待ち合わせ目印</h4>
     <%= f.text_field :spot %>
    <h4>待ち合わせ日時</h4>
     <%= f.datetime_field :place_at, use_month_numbers: true, class: 'form-control' %>
    <%= f.submit '変更保存' %>
  <% end %>

  <% if @place.user == current_user %>
   <%= link_to "削除", place_path(@place), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>