<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class ="mx-auto">
    <h3>待ち合わせ一覧</h3>
    <%= link_to "places/new", class:"btn btn-success mb-3" do %>
     <i class="fas fa-map-pin"></i><span>新規投稿</span>
    <% end %>

    <% #検索フォーム %>
    <%= form_tag({controller:"places",action:"index"}, method: :get) do %>
     <%= text_field_tag :search %>
     <%= submit_tag '検索する' %>
    <% end %>

      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>投稿者</th>
            <th>件名</th>
            <th>参加人数</th>
            <th>コメント数</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody>
        <% @places.each do |place| %>
          <tr>
            <td>
              <%= link_to user_path(place.user.id) do %>
               <%= image_tag place.user.get_profile_image(50,50) %><br>
               <%= place.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to place_path(place.id) do %>
                <%= place.subject %>
              <% end %>
            </td>
            <td>
              <%= "#{place.join_places.count}人" %>
            </td>
            <td>
              <%= "#{place.place_comments.count} コメント" %>
            </td>
          </tr>
        <% end %>
        <%= paginate @places %>
        </tbody>
      </table>
  </div>
 </div>
</div>
