<p id="notice"></p>
 <div class="container">
  <div class="row">
   <div class ="mx-auto">
    <div>
     <h4>待ち合わせ詳細</h4>
     <%= link_to "編集", edit_place_path(@place.id) %>
     <div>
       <p>件名:<%= @place.subject %></p>
       <p>投稿ユーザー:<%= link_to @place.user.name, user_path(@place.user.id) %></p>
       <p>本文</p>
       <%= @place.body %>
       <p>待ち合わせ場所:<%= @place.address %></p>
       <p>待ち合わせ目印:<%= @place.spot %></p>
       <p>待ち合わせ日時:<%= @place.place_at %></p>

       <% #if文はログインユーザーのみ参加、取り消しできるようにする　placeモデル参照 %>
       <% if @place.join_placed_by?(current_user) %>
        <%= link_to "★参加を取り消す", place_join_places_path(@place), method: :delete %>
        <h4>参加者</h4>
        <p>★参加数<%= @place.join_places.count %>人</p>
        <% @place.join_places.each do |join_place| %>
         <%= link_to join_place.user.name, user_path(join_place.user.id) %><%= "　,　" %>
        <% end %>
        <% else %>
         <%= link_to "★参加する", place_join_places_path(@place), method: :post %>
        <h4>参加者</h4>
        <p>★参加数<%= @place.join_places.count %>人</p>
        <% @place.join_places.each do |join_place| %>
         <%= link_to join_place.user.name, user_path(join_place.user.id) %>
        <% end %>
       <% end %>

     </div>
    </div>

       <div>
         <h4>コメント一覧</h4>
         <p>コメント件数:<%= @place.place_comments.count %></p>
         <table class='table table-hover table-inverse'>
          <% @place.place_comments.each do |place_comment| %>
          <thead>
            <tr>
              <th><%= place_comment.id %></th>
              <th><%= link_to place_comment.user.name, user_path(place_comment.user.id) %></th>
              <th><%= place_comment.created_at.strftime('%Y/%m/%d/ %H:%M:%S') %></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>

              </td>
              <td>
               <%= place_comment.comment %>
              </td>
              <td>
                <% if place_comment.user == current_user %>
                 <%= link_to "削除", place_place_comment_path(place_comment.place, place_comment), method: :delete, "data-confirm"  => "コメントを削除しますか？" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
         </table>
         <h4>コメント投稿</h4>
         <div>
           <%= form_with model: [@place, @place_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder: "コメントはこちら" %>
            <%= f.submit "送信" %>
           <% end %>
         </div>
       </div>
   </div>
  </div>
 </div>