<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class ="mx-auto">
    <%= flash[:notice] %>
    <h2>会員情報編集</h2>

    <%= form_with model:@user, url: admin_user_path(@user.id), method: :patch do |f| %>

      <div class="field">
        <%= f.label :"ユーザーネーム" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :"Eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :現在のパスワード（入力必須） %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <% #パスワードを変更した場合強制的にログアウトするバグあり %>
      <div class="field">
        <%= f.label :新しいパスワード %> <i>(変更しない場合は空欄にしてください。)</i><br />
        <%= f.password_field :current_password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :新しいパスワード（確認用） %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <% if @user.is_deleted? %>
        <%= link_to admin_user_toggle_path(@user.id), method: :patch do %>
          <span class="btn btn-info">有効にする</span>
        <% end %>
      <% else %>
        <%= link_to "退会させる", admin_user_toggle_path(@user.id), method: :patch, "data-confirm" => "本当に退会させますか？", class: "btn btn-danger" %>
      <% end %>



      <div class="actions">
        <%= f.submit "変更保存" %>
      </div>
    <% end %>

  </div>
 </div>
</div>
