<p id="notice"></p>
<div class="container">
 <div class="row">
  <div class ="mx-auto">
    <h2>ユーザー情報編集</h2>
    <%= form_with model:@user, url: admin_user_path(@user.id), method: :patch do |f| %>

      <div class="field">
        <%= f.label :"ユーザーネーム" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div class="field">
        <%= f.label :"Eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <br>
        <% #誤って退会させたり有効にしたりを防ぐため"data-confirm"でワンクッションを挟む %>
        <% if @user.is_deleted? %>
          <%= link_to admin_user_toggle_path(@user.id), method: :patch, "data-confirm" => "有効にさせますか？" do %>
            <span class="btn btn-info btn-block mb-3">有効にする</span>
          <% end %>
        <% else %>
          <%= link_to admin_user_toggle_path(@user.id), method: :patch, "data-confirm" => "退会させますか？" do %>
           <span class="btn btn-danger btn-block mb-3">退会させる</span>
          <% end %>
        <% end %>
      <%= f.submit "変更保存", class:"btn btn-success btn-block mb-3" %>
    <% end %>

  </div>
 </div>
</div>
